/* Optimized staff.component.css */

#margen {
    margin-bottom: 30px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.avatar-img {
    border-radius: 50%;
}

/* Nota: revisar si .avata-tbl se usa (posible typo de avatar) */
.avata-tbl {
    border-radius: 90px;
}

.btns {
    display: flex;
}
.btn-clear {
    margin-right: 5px;
}

.font-color-fail {
    color: red;
}
.font-color-success {
    color: greenyellow;
}

::ng-deep .p-fileupload-choose,
.dropdown-class,
::ng-deep .p-calendar,
::ng-deep .p-password {
    width: 100%;
}

.staffInfo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.all-info {
    margin-right: 5px;
    width: 100%;
}

::ng-deep #pn_id_6 {
    margin-top: 10px;
}

/* Inputs success/error */
.input-success,
.input-error {
    border-radius: 1px;
}
.input-success {
    border: 1px solid rgb(85, 252, 85);
}
.input-error {
    border: 1px solid rgb(238, 64, 64);
}

/* Password message styles */
.passmsg-success,
.passmsg-error {
    font-size: 12px;
}
.passmsg-success {
    color: rgb(85, 252, 85);
}
.passmsg-error {
    color: red;
}

.btn-staff {
    display: flex;
    justify-content: flex-end; /* corregido */
    margin-top: 10px;
    padding: 10px;
}

.createBoox-size {
    display: flex;
    justify-content: center;
}

/* Input group / input text radius adjustments */
::ng-deep .p-inputgroup-addon:first-child,
::ng-deep .p-inputgroup button:first-child,
::ng-deep .p-inputgroup input:first-child,
::ng-deep .p-inputgroup > .p-inputwrapper:first-child > .p-component,
::ng-deep
    .p-inputgroup
    > .p-inputwrapper:first-child
    > .p-component
    > .p-inputtext {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

::ng-deep .p-inputtext {
    border-radius: 0 !important;
    width: 100%;
}

/* Panel styling (combinado y sin duplicados) */
::ng-deep .p-panel {
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    background-color: #ffffff;
}
::ng-deep .p-panel .p-panel-header,
::ng-deep .p-panel .p-panel-content,
::ng-deep .p-panel .p-panel-footer {
    background: transparent;
    border: none;
}
::ng-deep .p-panel-title {
    color: #495057;
}

::ng-deep .p-tabview-nav {
    margin-bottom: 20px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr.inactive-row {
    background-color: #f8d7da;
}
