

<p-toast position="bottom-right" key="br" />
<p-confirmDialog />
<div class="staff-section">

    <p-tabView>
        <p-tabPanel header="All">

            <p-card header="GENERAL">
              
            <p-table #dt 
            [value]="propertyDetailsVar" 
            [(selection)]="staffSelected" 
            dataKey="_id" 
            [rowHover]="true" 
            [rows]="10"
            [showCurrentPageReport]="true" 
            [rowsPerPageOptions]="[10, 25, 50]" 
            [loading]="loading" 
            [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                [globalFilterFields]="globalFilters">
                <ng-template pTemplate="caption">
                    
                    
                    <div class="flex justify-content-between">
                        <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear(dt)" />
                        <p-iconField iconPosition="left">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                        
                            <input pInputText type="text" [(ngModel)]="searchValue"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Keyboard Search" />
                            </span>
                        </p-iconField>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox />
                        </th>
                     
                        <th pSortableColumn="fullname" style="min-width: 14rem">
                            <div class="flex justify-content-between align-items-center">
                                Fullname
                                <p-sortIcon field="fullname" />
                                <p-columnFilter type="text" field="fullname" display="menu" class="ml-auto" />
                            </div>
                        </th>
                        <th pSortableColumn="phone" style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Phone
                                <p-sortIcon field="phone" />
                                <p-columnFilter type="text" field="phone" display="menu" class="ml-auto" />
                            </div>
                        </th>
                        <th pSortableColumn="gender" style="min-width: 14rem">
                            <div class="flex justify-content-between align-items-center">
                                Gender
                                <p-sortIcon field="gender" />
                                <p-columnFilter type="text" field="gender" display="menu" class="ml-auto" />
                            </div>
                        </th>
                        <th pSortableColumn="condo_id" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Condominium name
                                <p-sortIcon field="condo_id" />
                                <p-columnFilter type="text" field="condo_id" display="menu" class="ml-auto" />
                            </div>
                        </th>
                        <th pSortableColumn="government_id" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Government ID
                                <p-sortIcon field="government_id" />
                                <p-columnFilter type="text" field="government_id" display="menu" class="ml-auto" />
                            </div>
                        </th>
                        <th pSortableColumn="position" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Role
                                <p-sortIcon field="position" />
                                <p-columnFilter type="text" field="position" display="menu" class="ml-auto" />
                            </div>
                        </th>
              
                        
                        <th pSortableColumn="createdAt" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Start date
                                <p-sortIcon field="createdAt" />
                                <p-columnFilter type="date" field="createdAt" display="menu" class="ml-auto" />
                            </div>
                        </th>
                
                        <th pSortableColumn="status" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Status
                                <p-sortIcon field="status" />
                                <p-columnFilter field="status" matchMode="equals" display="menu" class="ml-auto">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                            placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [value]="option.label" [severity]="getSeverity(option.label)" />
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                  
                        <th style="width: 5rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-staff>
                    <tr class="p-selectable-row">
                        <td>
                            <p-tableCheckbox [value]="staff._id" />
                        </td>
                        <td>
                            <span class="p-column-title">Fullname</span>
                            <img [alt]="staff.fullname"
                                src="{{url + 'getStaffAvatar/'+staff.avatar }}" width="32"
                                style="vertical-align: middle" />
                            <span class="ml-1 vertical-align-middle">{{staff.fullname}}</span>
                        </td>      
                   
                        <td>
                            <span class="p-column-title">Phone</span>
                            {{ staff.phone }}
                        </td>
                        <td>
                            <span class="p-column-title">Gender</span>
                            {{ staff.gender }}
                        </td>
                        <td>
                            <span class="p-column-title">Codominium name</span>
                            {{ staff.condo_id }}
                        </td>
                        <td>
                            <span class="p-column-title">Government ID</span>
                            {{ staff.government_id }}
                        </td>
                        <td>
                            <span class="p-column-title">Role</span>
                            {{ staff.position }}
                        </td>
                      
                        
                        <td>
                            <span class="p-column-title">Start date</span>
                            {{ staff.createdAt | date : 'MM/dd/yyyy' }}
                        </td>
                      
                        
                        <td>
                            <span class="p-column-title">Status</span>
                            <p-tag [value]="staff.status" [severity]="getSeverity(staff.status)" />
                        </td>
                        
                        
                        <td style="text-align: center">
                            <p-button severity="secondary" icon="pi pi-cog" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>

     
            </p-card>
        </p-tabPanel>
        <p-tabPanel header="Create Staff">

           
           
            <p-card header="STAFF INFO">

             

                
                <form #staffForm="ngForm" (ngSubmit)="onsubmit(staffForm)">

                    <div class="avatar">
                        <div class="avatar-div">

                            <img class="avatar-img" #avatar name="avatar" src="{{previwImage}}" alt="avatar" width="250px" height="230px" />

                            <p-fileUpload class="avatar-btn" mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                                (onSelect)="onUpload($event)" />
                        </div>

                      

                        
                    </div>

                        <p-panel header="Basic Info">
                            <div class="staffInfo">
                            
                                <div class="all-info">
                            
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-user"></i>
                                        </p-inputGroupAddon>
                            
                                        <input pInputText [ngClass]="{'input-success':name.valid, 'input-error ':(name.touched && !name.dirty)}"
                                            #name="ngModel" [(ngModel)]="staffInfo.name" name="name" type="text" maxlength="30" required
                                            placeholder="Name" />
                            
                                    </p-inputGroup>
                            
                                    <small *ngIf="name.touched && !name.valid" class="p-error">Required.</small>
                            
                            
                                </div>
                                <div class="all-info">
                            
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-user"></i>
                                        </p-inputGroupAddon>
                            
                                        <input pInputText
                                            [ngClass]="{'input-success':lastname.valid, 'input-error ':(lastname.touched && !lastname.dirty)}"
                                            #lastname="ngModel" [(ngModel)]="staffInfo.lastname" name="lastname" type="text" maxlength="30" required
                                            placeholder="lastname" />
                            
                                    </p-inputGroup>
                            
                                    <small *ngIf="lastname.touched && !lastname.valid" class="p-error">Required.</small>
                            
                            
                                </div>
                            
                            
                            </div>
                            
                            <div class="staffInfo">
                            
                                <div class="all-info">
                            
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-users"></i>
                                        </p-inputGroupAddon>
                            
                                        <p-dropdown
                                            [ngClass]="{'ng-valid input-success':gender.valid, 'ng-invalid ng-dirty':(gender.touched && !gender.dirty)}"
                                            #gender="ngModel" name="gender" [options]="genderOptions" [(ngModel)]="staffInfo.gender"
                                            optionLabel="label" placeholder="Select a gender" required />
                            
                                    </p-inputGroup>
                            
                                    <small *ngIf="gender.touched && !gender.valid" class="p-error">Required.</small>
                            
                            
                                </div>
                                <div class="all-info">
                            
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-calendar-minus"></i>
                                        </p-inputGroupAddon>
                            
                                        <p-calendar  [ngClass]="{'ng-valid input-success':dob.valid, 'ng-invalid ng-dirty':(dob.touched && !dob.dirty)}" #dob="ngModel" name="dob" [(ngModel)]="staffInfo.dob" [showButtonBar]="true" />
                            
                                    </p-inputGroup>
                            
                                    <small *ngIf="dob.touched && !dob.valid" class="p-error">Required.</small>
                            
                            
                                </div>
                            </div>
                            <div class="staffInfo">
                            
                                <div class="all-info">
                            
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-id-card"></i>
                                        </p-inputGroupAddon>
                            
                                        <input pInputText
                                            [ngClass]="{'input-success':government_id.valid, 'input-error':(government_id.touched && !government_id.dirty)}"
                                            #government_id="ngModel" [(ngModel)]="staffInfo.government_id" name="government_id" type="text"
                                            maxlength="30" required placeholder="Government ID" />
                            
                                    </p-inputGroup>
                            
                                    <small *ngIf="government_id.touched && !government_id.valid" class="p-error">Required.</small>
                            
                            
                                </div>
                                <div class="all-info">
                            
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-mobile"></i>
                                        </p-inputGroupAddon>
                            
                                        <input pInputText [ngClass]="{'input-success':phone.valid, 'input-error':(phone.touched && !phone.dirty)}"
                                            #phone="ngModel" [(ngModel)]="staffInfo.phone" name="phone" type="text" maxlength="30" required
                                            placeholder="Phone number" />
                            
                                    </p-inputGroup>
                            
                                    <small *ngIf="phone.touched && !phone.valid" class="p-error">Required.</small>
                            
                            
                                </div>
                            </div>
                        </p-panel>
                        <div class="mt-5"></div>

                        <p-panel header="Work info">
                        <div class="staffInfo">
                        
                            <div class="all-info">
                        
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-briefcase"></i>
                                    </p-inputGroupAddon>
                        
                                    <p-dropdown #position="ngModel" name="position" [options]="positionOptions" [(ngModel)]="staffInfo.position"
                                     [ngClass]="{'ng-valid input-success':position.valid, 'ng-invalid ng-dirty':(position.touched && !position.dirty)}"
                                        optionLabel="label" placeholder="Select a position" required />
                        
                                </p-inputGroup>
                        
                                <small *ngIf="position.touched && !position.valid" class="p-error">Required.</small>
                        
                        
                            </div>

                            <div class="all-info">
                            
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-building"></i>
                                    </p-inputGroupAddon>
                            
                                    <p-dropdown #building="ngModel" name="building" [options]="condominioList" [(ngModel)]="staffInfo.condo_id"
                                     [ngClass]="{'ng-valid input-success':building.valid, 'ng-invalid ng-dirty':(building.touched && !building.dirty)}"
                                        [loading]="loadingCondo" [virtualScroll]="true" [virtualScrollItemSize]="10" optionLabel="label"
                                        placeholder="Select a condominium" required />
                            
                                </p-inputGroup>
                            
                                <small *ngIf="building.touched && !building.valid" class="p-error">Required.</small>
                            
                            
                            </div>
                     
                        </div>

                        <div class="staffInfo">
                                <div class="all-info">
                                
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-at"></i>
                                        </p-inputGroupAddon>
                                
                                        <input pInputText [ngClass]="{'input-success':email.valid, 'input-error ':(email.touched && !email.dirty)}"
                                            #email="ngModel" [(ngModel)]="staffInfo.email" name="phone" type="text" maxlength="30" required
                                            placeholder="Email address" required />
                                
                                    </p-inputGroup>
                                
                                    <small *ngIf="email.touched && !email.valid" class="p-error">Required.</small>
                                
                                
                                </div>
                        </div>

                        <div class="staffInfo">
                        
                            <div class="all-info">
                        
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-key"></i>
                                    </p-inputGroupAddon>
                        
                                    <p-password [ngClass]="{'ng-valid':this.passval, 'ng-invalid ng-dirty':!this.passval}" #password="ngModel"
                                        [(ngModel)]="staffInfo.password" 
                                        name="Password" minlength="10" maxlength="30" 
                                        weakLabel="Too simple" 
                                        mediumLabel="Average complexity" 
                                        strongLabel="Complex password"
                                        required placeholder="Password" />
                        
                                </p-inputGroup>
                        
                                <small *ngIf="password.touched && !password.valid" class="p-error">Required.</small>
                        
                        
                            </div>
                            <div class="all-info">
                        
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-key"></i>
                                    </p-inputGroupAddon>
                                    <p-password [ngClass]="{'ng-valid':this.passval, 'ng-invalid ng-dirty':!this.passval}"
                                        #password_verify="ngModel" [(ngModel)]="staffInfo.password_verify" name="password_verify" maxlength="30"
                                        required placeholder="Re-type Password" (keyup)="verifyPassword($event)" />
                        
                                </p-inputGroup>
                        
                                <small [ngClass]="{'passmsg-success':this.passval, 'passmsg-error':!this.passval}">{{passMessage}}</small>
                        
                        
                            </div>
                        
                        
                          
                        </div>
                        </p-panel>
                                    
                 
                    <div class="btn-staff">
                        
                        <button pButton type="submit"label="Register Staff" [disabled]="!staffForm.valid" icon="pi pi-check"></button>

                    </div>


                </form>
            
            
            </p-card>
           
        </p-tabPanel>
        <p-tabPanel header="Settings">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
        </p-tabPanel>
    </p-tabView>
</div>
