<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>CondApp</span>
    </a>

        

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <div>
         {{item}}

    </div>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->

    <p-toast></p-toast>
    <!-- <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Show"></button> -->
<div class="main-avatar">
    <div>
    
        <div class="p-text-bold" style="text-align: right;">{{fullname}}</div>
        <div class="p-text-bold" style="text-align: right;">{{role}}</div>
    
    </div>
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <button pButton type="button" class="p-link layout-topbar-button" (click)="menu.toggle($event)">

        <i class="pi pi-user" *ngIf="!identity"></i>

        <p-avatar *ngIf="identity" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2" size="large" shape="circle" /> </button>
    

    


</div>
        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
        
        <button class="p-link layout-topbar-button" [routerLink]="['/auth/login']">
            <i class="pi pi-lock"></i>
            <span>Login</span>
        </button> -->
    </div>
</div>