.change-icon:hover {
    cursor: pointer;
    border: rgb(249, 181, 57) 1px solid;
}

.icon-plus-changer:hover {
    cursor: pointer;
    border: rgb(198, 200, 203) 1px solid;
}
.alingText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.avatarOwnerProfile {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: #dbdbdb solid 1px;
}

.divider {
    border-top: 1px solid #d6d2d2;
    margin-top: 10px;
    margin-bottom: 10px;
}
::ng-deep .p-tabview-nav {
    margin-bottom: 20px;
}

::ng-deep .p-dropdown {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.padding-set {
    padding: 12px;
}

::ng-deep #pn_id_26,
::ng-deep #pn_id_28 {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

::ng-deep .justify-contents {
    display: flex;
    justify-content: center;
}

.avatarOwnerProfile {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: #dbdbdb solid 1px;
}

.addressProperty {
    padding: 12px;
}

.addressProperty label {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.addressProperty input {
    display: block;
    width: 100%;
}

.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .p-fileupload-content .p-progressbar {
    display: none !important;
}

::ng-deep .p-fileupload-content .p-messages {
    display: none !important;
}

::ng-deep .p-fileupload-content .p-fileupload-files {
    display: none !important;
}
