<p-confirmDialog />
<p-toast />
<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button
                severity="success"
                label="Create user"
                icon="pi pi-plus"
                class="mr-2"
                (onClick)="createNewUser()"
            />
            <p-button
                severity="danger"
                label="Delete"
                icon="pi pi-trash"
                (onClick)="deleteSelectedUsers()"
                [disabled]="!selectedStaffs || !selectedStaffs.length"
            />
        </ng-template>

        <!-- Si en el fututo el usuario pide exportar la lista de usuarios a pdf o enviar al correo, usar estos elementos -->
        <ng-template pTemplate="right">
            <!-- <p-fileUpload
                mode="basic"
                accept="image/*"
                [maxFileSize]="1000000"
                label="Import"
                chooseLabel="Import"
                class="mr-2 inline-block"
            /> -->
            <!-- <p-button severity="help" label="Export" icon="pi pi-upload" /> -->
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="staffAdminData"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['fullname', 'status', 'position']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedStaffs"
        [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">User Management</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search..."
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>

                <th pSortableColumn="name" style="min-width: 15rem">
                    Fullname <p-sortIcon field="name" />
                </th>

                <th>Email</th>
                <th style="min-width: 10rem">Phone</th>
                <th pSortableColumn="position">
                    Position <p-sortIcon field="position" />
                </th>
                <th pSortableColumn="userStatus" style="min-width: 10rem">
                    Status <p-sortIcon field="userStatus" />
                </th>
                <th style="min-width: 10rem">Create at</th>
                <th style="min-width: 10rem">Action</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userx>
            <tr>
                <td>
                    <p-tableCheckbox [value]="userx" />
                </td>

                <td>
                    <div class="flex">
                        <img
                            class="avata-tbl"
                            [alt]="staff?.fullname"
                            src="{{
                                url + 'main-avatar/users/' + userx.avatar
                            }}"
                            width="45px"
                            height="45px"
                            style="
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            "
                        />
                        <div class="ml-1 vertical-align-middle" width="100px">
                            {{ userx.fullname | titlecase }}
                        </div>
                    </div>
                </td>

                <td>
                    {{ userx.email }}
                </td>
                <td>
                    {{ userx.phone }}
                </td>
                <td>
                    {{ upperCase(userx.position) }}
                </td>
                <td>
                    <p-tag
                        [value]="userx.status"
                        [severity]="getSeverity(userx.status)"
                    />
                </td>
                <td>
                    {{ getDate(userx.createdAt) }}
                </td>
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        class="mr-2"
                        [rounded]="true"
                        [outlined]="true"
                        severity="success"
                        (onClick)="editStaff(userx)"
                    />
                    <p-button
                        [icon]="btnToggleDeleteActive(userx.status).icono"
                        [severity]="
                            btnToggleDeleteActive(userx.status).severity
                        "
                        [rounded]="true"
                        [outlined]="true"
                        (onClick)="deleteAnUser(userx)"
                    />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total users:
                {{ totalRecords }}.
            </div>
        </ng-template>
    </p-table>

    <!-- USER DIALOG -->
    <p-dialog
        [(visible)]="userDialog"
        [style]="{ width: '450px' }"
        [header]="dialogHeader"
        [modal]="true"
        styleClass="p-fluid"
    >
        <ng-template pTemplate="content">
            <form #staffAdminForm="ngForm">
                <div class="field">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        pInputText
                        id="name"
                        #name="ngModel"
                        name="name"
                        [(ngModel)]="userModel.name"
                        required
                    />
                    <small class="p-error" *ngIf="name.touched && !name.dirty">
                        Name is required.
                    </small>
                </div>
                <div class="field">
                    <label for="name">Lastname</label>
                    <input
                        type="text"
                        pInputText
                        id="lastname"
                        #lastname="ngModel"
                        name="lastname"
                        [(ngModel)]="userModel.lastname"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="lastname.touched && !lastname.dirty"
                    >
                        Lastname is required.
                    </small>
                </div>
                <div class="field">
                    <label for="genderLabel">Gender</label>
                    <p-dropdown
                        [options]="genderModel"
                        #genderx="ngModel"
                        name="genderx"
                        [(ngModel)]="userModel.gender"
                        optionLabel="label"
                        required
                    />
                </div>

                <div class="field">
                    <label for="phoneLabel">Phone</label>
                    <input
                        type="text"
                        pInputText
                        id="phoneLabel"
                        #phone="ngModel"
                        name="phone"
                        [(ngModel)]="userModel.phone"
                        maxlength="11"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="phone.touched && !phone.dirty"
                    >
                        Phone is required.
                    </small>
                </div>
                <div class="field">
                    <label for="gvId">Government ID</label>
                    <input
                        type="text"
                        pInputText
                        id="gvId"
                        #government_id="ngModel"
                        name="government_id"
                        [(ngModel)]="userModel.government_id"
                        required
                        maxlength="11"
                    />
                    <small
                        class="p-error"
                        *ngIf="government_id.touched && !government_id.dirty"
                    >
                        Government ID is required.
                    </small>
                </div>

                <div class="field">
                    <label for="positionLabel">Position</label>
                    <p-dropdown
                        [options]="positionOptions"
                        #position="ngModel"
                        name="position"
                        [(ngModel)]="userModel.position"
                        optionLabel="label"
                    />
                    <small
                        class="p-error"
                        *ngIf="position.touched && !position.dirty"
                    >
                        Position is required.
                    </small>
                </div>

                <div class="field">
                    <label for="emaillabel">Email</label>
                    <input
                        type="text"
                        pInputText
                        id="emaillabel"
                        #email="ngModel"
                        name="email"
                        [(ngModel)]="userModel.email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="email.touched && !email.dirty"
                    >
                        Email is required.
                    </small>
                </div>

                <div class="field">
                    <label for="permissionsLabel">Permissions</label>
                    <p-multiSelect
                        [options]="permissionsOptions"
                        #permissionsx="ngModel"
                        name="permissionsx"
                        [(ngModel)]="userModel.permissions"
                        optionLabel="label"
                        placeholder="Select permissions..."
                    />

                    <small
                        class="p-error"
                        *ngIf="permissionsx.touched && !permissionsx.dirty"
                    >
                        Permissions is required.
                    </small>
                </div>

                <div class="field" style="display: none">
                    <label for="accountStatus">Account Status</label>
                    <p-dropdown
                        [options]="accountStatusOptions"
                        #accountStatus="ngModel"
                        name="accountStatus"
                        [(ngModel)]="userModel.status"
                    />
                    <small
                        class="p-error"
                        *ngIf="accountStatus.touched && !accountStatus.dirty"
                    >
                        Account Status is required.
                    </small>
                </div>

                <div class="field" *ngIf="passwordActive">
                    <label for="passwordlabel">New Password</label>
                    <input
                        type="password"
                        pInputText
                        id="passwordlabel"
                        #password="ngModel"
                        (keyup)="verifyPasswordInput($event)"
                        name="password"
                        [(ngModel)]="userModel.password"
                        required
                    />
                </div>
                <div class="field" *ngIf="passwordActive">
                    <label for="repeatPasswordLabel">Repeat Password</label>
                    <input
                        type="password"
                        pInputText
                        id="repeatPasswordLabel"
                        #repeatPassword="ngModel"
                        (keyup)="verifyPasswordInput($event)"
                        name="repeatPassword"
                        [(ngModel)]="userModel.repeatPassword"
                        required
                    />

                    <small
                        [ngClass]="{
                            'font-color-success': !passval,
                            'font-color-fail': passval
                        }"
                        >{{ passMessage }}</small
                    >
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button
                severity="danger"
                [outlined]="true"
                label="Cancel"
                icon="pi pi-times"
                (onClick)="hideDialog()"
            />
            <p-button
                [outlined]="true"
                [label]="btnLabel"
                #btnSave
                icon="pi pi-check"
                (onClick)="createUpdateUser(btnSave)"
            />
        </ng-template>
    </p-dialog>
</div>
