::ng-deep .add-unit .p-button:hover {
    background-color: rgb(235, 235, 112);
    border-color: rgb(210, 202, 202);
}

::ng-deep .add-unit .p-button {
    background-color: rgb(135, 192, 239);
    border-color: rgb(135, 192, 239);
}

.input-success {
    border-color: green;
}

.input-error {
    border-color: red;
}

.p-card .p-card-title {
    background-color: rgb(30, 216, 145);
}

.minw {
    min-width: 400px;
}
.change-icon:hover {
    cursor: pointer;
    border: rgb(249, 181, 57) 1px solid;
}

.icon-plus-changer:hover {
    cursor: pointer;
    border: rgb(198, 200, 203) 1px solid;
}
