<p-toast />

<p-messages
    [(value)]="propertyInactive"
    [enableService]="false"
    [closable]="false"
/>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">
                        Balance
                    </span>
                    <div class="text-900 font-medium text-2xl">
                        {{ invoiceCards.totalBalance | currency : "USD" }}
                    </div>
                </div>
                <div
                    class="cursor-pointer change-icon flex align-items-center justify-content-center bg-green-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                    (click)="showComponent('invoice')"
                >
                    <i class="pi pi-money-bill text-green-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ invoiceCards.counts }}
            </span>
            <span class="text-500">pending</span>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">
                        Total units
                    </span>
                    <div class="text-900 font-medium text-2xl">
                        {{ totalUnits }}
                    </div>
                </div>

                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round icon-plus-changer"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-home text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">
                        Booking
                    </span>
                    <div class="text-900 font-medium text-2xl">
                        {{ totalBooked }}
                    </div>
                </div>

                <a
                    (click)="showComponent('booking')"
                    class="change-icon flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-calendar-minus text-orange-500 text-xl"></i>
                </a>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Staff list</span
                    >
                    <div class="text-900 font-medium text-2xl">
                        {{ totalStaff }}
                    </div>
                </div>

                <a
                    (click)="showComponent('staff')"
                    class="change-icon flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-users text-cyan-500 text-xl"></i>
                </a>
            </div>
            <span class="text-green-500 font-medium">520 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Comments</span
                    >
                    <div class="text-900 font-medium text-xl">152 Unread</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span>
        </div>
    </div>
</div>
<p-breadcrumb class="max-w-full mb-4" [model]="itemsx" />
<div class="grid mt-2" *ngIf="componentsToShow.main">
    <div class="col-12 xl:col-6">
        <div class="card" *appHasPermissions="['admin']">
            <h5>Sales Overview</h5>
            <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
                <div>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain"
                        (click)="menu.toggle($event)"
                    ></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li
                    class="flex align-items-center py-2 border-bottom-1 surface-border"
                >
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
                    >
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3"
                        >Richard Jones
                        <span class="text-700">
                            has purchased a blue t-shirt for
                            <span class="text-blue-500">79$</span></span
                        >
                    </span>
                </li>
                <li class="flex align-items-center py-2">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0"
                    >
                        <i class="pi pi-download text-xl text-orange-500"></i>
                    </div>
                    <span class="text-700 line-height-3"
                        >Your request for withdrawal of
                        <span class="text-blue-500 font-medium">2500$</span> has
                        been initiated.</span
                    >
                </li>
            </ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
                <li
                    class="flex align-items-center py-2 border-bottom-1 surface-border"
                >
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
                    >
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3"
                        >Keyser Wick
                        <span class="text-700">
                            has purchased a black jacket for
                            <span class="text-blue-500">59$</span>
                        </span>
                    </span>
                </li>
                <li
                    class="flex align-items-center py-2 border-bottom-1 surface-border"
                >
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0"
                    >
                        <i class="pi pi-question text-xl text-pink-500"></i>
                    </div>
                    <span class="text-900 line-height-3"
                        >Jane Davis<span class="text-700">
                            has posted a new questions about your product.</span
                        ></span
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Owner permissions -->
<p-dialog
    [(visible)]="visibleCreateOwnerUnit"
    [modal]="true"
    [maximizable]="true"
>
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl w-100">
            <h2>Authorized users</h2>
        </span>
        <hr />
    </ng-template>

    <app-family-area *ngIf="visibleCreateOwnerUnit"></app-family-area>
</p-dialog>

<!-- Bookings generater -->
<app-booking-area
    [condoId]="units_ownerId"
    *ngIf="componentsToShow.booking"
></app-booking-area>
<!-- Invoice history -->
<app-invoice-history
    [ownerId]="condoId"
    *ngIf="componentsToShow.invoice"
></app-invoice-history>

<!-- Staff  -->
<app-staff *ngIf="componentsToShow.staff" [condoId]="condoId"></app-staff>
