
    <div class="grid">
       
        
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total units</span>
                        <div class="text-900 font-medium text-xl">{{units}}</div>
                    </div>
                    <div  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        
                        <p-button [icon]="'pi '+currentIcon+' text-blue-500 text-xl'"   
                        (mouseover)="onMouseOver()"                             
                        (mouseout)="onMouseOut()" 
                       class="add-unit" (click)="showDialog() ">
                                              
                        </p-button>
                    </div>
             
                </div>
                <span class="text-500">Member since: </span>
                <br>
                <span class="text-green-500 font-medium">{{ dateFormatted }} </span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">
                            Social Area booking
                        </span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-calendar-minus text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Staff list</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520  </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Recent Payments</h5>
                <p-table [value]="products" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Image</th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                            <th>View</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td style="width: 15%; min-width: 5rem;">
                                <img src="assets/demo/images/product/{{product.image}}" class="shadow-4" alt="{{product.name}}" width="50">
                            </td>
                            <td style="width: 35%; min-width: 7rem;">{{product.name}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{product.price | currency:'USD'}}</td>
                            <td style="width: 15%;">
                                <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Best Selling Products</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">%50</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">%16</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">%67</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                            <div class="mt-1 text-600">Office</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">%35</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">%75</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                            </div>
                            <span class="text-teal-500 ml-3 font-medium">%40</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Sales Overview</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions about your product.</span></span>
                    </li>
                </ul>
            </div>

           <div>

    
           </div>

         

    
            
    </div>

  
    <router-outlet></router-outlet>

    <!-- DIALOG COMPONENT -->
    <p-dialog header="{{getModalContent().title}}" [(visible)]="visible" [style]="{width: '50vw'}" [maximizable]="true">

        

<p-tabView>
    <p-tabPanel header="Crear unidad">

        <div class="field col-12">
            <p-card header="Address details:">
                <p class="m-0">
                    <b>Street:</b> {{addreesDetails?.street_1}}
                    <br>
                    <b>Street 2:</b> {{addreesDetails?.street_2}}
                    <br>
                    <b>Neigborhood name:</b> {{addreesDetails?.sector_name}}
                    <br>
                    <b>City:</b> {{addreesDetails?.city}}
                    <br>
                    <b>Province:</b> {{addreesDetails?.province}}
                    <br>
                    <b>Country:</b> {{addreesDetails?.country}}
        
                    <br>
                </p>
            </p-card>
        
        </div>

        <div class="card flex justify-content-center">
            <form #unitForm="ngForm" (submit)="onSubmitUnit(unitForm)">
                            
                            
            <p-stepper>
                <p-stepperPanel header="Basic Info">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="row">
                            <div class="field col-12">
                            
                                <!-- <p-messages [(value)]="messages" *ngIf="status == 'true'" [enableService]="false" hideTransitionOptions="3000"></p-messages>
                                                                                                                                                                                    -->
                            
                                <div class="col mt-3">
                                    <p style="text-align: center;">
                                        <img [src]="image" alt="" width="181px" height="200px">

                                        <p-fileUpload mode="basic" chooseLabel="Choose image" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                                            accept="image/*" maxlengthFileSize="1000000" (onSelect)="onSelect($event)">
                                        </p-fileUpload>
                            
                                    </p>
                            
                                </div>
                            
                                
                            
                            
                            </div>
                            
                            
                            <div class="form-group mb-3">
                                
                            
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-user"></i>
                                    </p-inputGroupAddon>
                            
                                    <input pInputText
                                        [ngClass]="{'input-success':ownerName.valid, 'input-error ':(ownerName.touched && !ownerName.dirty)}" 
                                        #ownerName="ngModel"
                                        [(ngModel)]="ownerObj.ownerName" 
                                        name="ownerName" 
                                        type="text"
                                        maxlength="30"                                     
                                        required
                                        placeholder="Name: Jose Rodolfo"
                                            />
                               
                                </p-inputGroup>

                                <small *ngIf="ownerName.touched && !ownerName.valid" class="p-error">Required.</small>
                        
                            </div>
                            
                            <div class="form-group mb-3">
                                
                            
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-user"></i>
                                    </p-inputGroupAddon>
                            
                                    <input pInputText
                                        [ngClass]="{'input-success':lastname.valid, 'input-error ':(lastname.touched && !lastname.dirty)}" 
                                        #lastname="ngModel"
                                        [(ngModel)]="ownerObj.lastname" 
                                        name="lastname" 
                                        type="text"
                                        maxlength="30"                                     
                                        required
                                        placeholder="Name: Rodney Mock"
                                            />
                               
                                </p-inputGroup>

                                <small *ngIf="lastname.touched && !lastname.valid" class="p-error">Required.</small>
                        
                            </div>

                            <div class="form-group mb-3">
                                
                            
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-android"></i>
                                    </p-inputGroupAddon>
                            
                                        <select class="form-select form-control" aria-label="Default select example"
                                            name="gender" #gender (change)="selectInputValues($event)">
                                            <option selected>Select gender...</option>
                                            <option [value]="option.code" *ngFor="let option of genderOption">{{option.name}}</option>
                                        
                                        </select>
                                </p-inputGroup>

                              
                            </div>

                                <div class="form-group mb-3">
                                
                                
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-mobile"></i>
                                        </p-inputGroupAddon>
                                
                                        <input pInputText [ngClass]="{'input-success':phone.valid, 'input-error ':(phone.touched && !phone.dirty)}"
                                            #phone="ngModel" [(ngModel)]="ownerObj.phone" name="phone" type="text" maxlength="15" required
                                            placeholder="8496587417"
                                            pattern="^[0-9]+" />
                                
                                    </p-inputGroup>
                                
                                    <small *ngIf="phone.touched && !phone.valid" class="p-error">Required.</small>
                                
                                </div>                     
                            
                                
                     

                                <div class="flex pt-4 justify-content-end">
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" [disabled]="!ownerName.valid || !phone.valid  || !lastname.valid"/>
                                </div>
                
                            
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Property details">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                        let-index="index">
                        <div class="row">
                                
                                <div class="form-group mb-3">
                                
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-mobile"></i>
                                
                                        </p-inputGroupAddon>
                                
                                        <input pInputText #phone2="ngModel" [ngClass]="{'input-success': phone2.valid}"
                                            [(ngModel)]="phone2.phone2" name="phone2" id="phone2-label" type="text" placeholder="8098544488"
                                            maxlength="11" pattern="^[0-9]+" />
                                
                                    </p-inputGroup>
                                   
                                </div>
                                
                                <div class="form-group mb-3">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-envelope"></i>
                                
                                        </p-inputGroupAddon>
                                
                                        <input pInputText #email="ngModel" [(ngModel)]="ownerObj.email" [ngClass]="{'input-success': email.valid, 'input-error ':(email.touched && !email.dirty)}" name="email" id="email-label" type="text"
                                            maxlength="50" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="correo@email.com"
                                            required />
                                
                                    </p-inputGroup>
                                    <small *ngIf="email.touched && !email.valid" id="username-help" class="p-error">Required.</small>
                                </div>
                                
                                
                                <div class="form-group mb-3">
                                    <p-inputGroup>
                                        <p-inputGroupAddon>
                                            <i class="pi pi-building"></i>
                                
                                        </p-inputGroupAddon>
                                
                                        <input [ngClass]="{'input-success': apartmentsUnit.valid, 'input-error ':(apartmentsUnit.touched && !apartmentsUnit.dirty)}"  pInputText #apartmentsUnit="ngModel" [(ngModel)]="ownerObj.apartmentsUnit" name="apartmentsUnit"
                                            id="apartmentsUnit-label" type="text" maxlength="11" placeholder="307-B" required />
                                
                                
                                    </p-inputGroup>
                                    <small *ngIf="apartmentsUnit.touched && !apartmentsUnit.valid" id="apartmentsUnit-label" class="p-error">Required.</small>
                                </div>
                                
                            <div class="form-group mb-3">
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-hourglass"></i>
                            
                                    </p-inputGroupAddon>
                            
                                    <select class="form-select" name="isRent" (change)="selectInputValues($event)"
                                        aria-label="Default select example" style="border-left: none">
                                        <option selected>Select option...</option>
                                        <option value="yes">Si</option>
                                        <option value="no">No</option>
                            
                                    </select>
                            
                            
                                </p-inputGroup>
                            
                            </div>
                            
                            <div class="form-group mb-3">
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-car"></i>
                            
                                    </p-inputGroupAddon>
                            
                                    <select class="form-select" style="border-left: none" name="parking"  (change)="selectInputValues($event)"
                                        aria-label="Default select example" required>
                                        <option selected>Select...</option>
                                        <option *ngFor="let qty of parkingOptions" [value]="qty">{{qty}}</option>
                            
                            
                                    </select>
                            
                            
                                </p-inputGroup>
                            
                            </div>
                            <div class="form-group mb-3">
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-home"></i>
                            
                                    </p-inputGroupAddon>
                            
                                    <select class="form-select" style="border-left: none" name="property_type" (change)="selectInputValues($event)"
                                        aria-label="Property type..."  placeholder="Property type..." required>
                                        <option selected>Select property...</option>
                                        <option *ngFor="let property of property_typeOptions" [value]="property.code">{{property.name}}</option>
                            
                            
                                    </select>
                            
                            
                                </p-inputGroup>
                            
                            
                            
                            </div>
                
                            
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]=" !email.valid || !apartmentsUnit.valid " (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Review">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                    <p-card header="Info confirmation:">
                        <p class="m-0">
                            <b>Name:</b> {{ownerObj.ownerName}}
                            <br>
                            <b>Lastname:</b> {{ownerObj.lastname}}
                            <br>
                            <b>Gender:</b> {{ownerObj.gender}}
                            <br>
                            <b>Email:</b> {{ownerObj.email}}
                            <br>
                            <b>Phone:</b> {{ownerObj.phone}}
                            <br>
                            <b>Phone 2:</b> {{ownerObj.phone2}}
                            <br>
                            <b>Unit:</b> {{ownerObj.apartmentsUnit}}
                            <br>
                            <b>Parking units:</b> {{ownerObj.parkingsQty}}
                            <br>
                            <b>Is rent?:</b> {{ownerObj.isRenting}}
                            <br>

                        </p>
                    </p-card>
                 
                        
                    <div class="d-flex gap-1">

                        <div class="flex pt-4 justify-content-start">
                            <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />

                        </div>

                        <div class="flex pt-4 justify-content-end align-content-end w-100">
                            <p-toast />
                            <p-confirmDialog />
                            <p-button label="Create" [raised]="true" severity="success" (click)="confirm1(unitForm)"
                                [hidden]="!unitForm.valid" />
                        
                        
                        </div>
                    </div>
                    
                   
                   

                    </ng-template>
                </p-stepperPanel>
            </p-stepper>

         
        
        </form>
        </div>


        


    </p-tabPanel>
    <p-tabPanel header="Crear Pool de unidades">
        
    <p-fileUpload mode="basic" chooseLabel="Choose image" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*" maxlengthFileSize="1000000" (onSelect)="onSelect($event)">
    </p-fileUpload>

    </p-tabPanel>


</p-tabView>

    
     
    </p-dialog>

    

     
</div>
<!-- 
        <p-table [value]="customers" sortField="customer.name" sortMode="single" [scrollable]="true" scrollHeight="400px"
            rowGroupMode="subheader" groupRowsBy="customers.name" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let headers of getModalContent().thead;">{{headers}}</th>
        
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader" let-customer>
                <tr pRowGroupHeader>
                    <td colspan="6">
                        <img [alt]="customer.avatar" [src]="url +'owner-avatar/' + customer.avatar" width="32"
                            style="vertical-align: middle" />
                        <span class="font-bold ml-2">{{customer.alias}}</span>
                    </td>
                    <td>
        
                    </td>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                <tr>
                    <td>
                        {{customer.name}}
                    </td>
                    <td>
                        {{customer.lastname}}
                    </td>
        
                    <td>
                        {{customer.email}}
                    </td>
                    <td>
                        {{customer.phone}}
                    </td>
                    <td>
                        {{customer.propertyDetails[0].condominium_unit}}
                    </td>
                    <td>
                        {{customer.propertyDetails[0].parkingsQty}}
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="groupfooter" let-customer>
                                                                <tr>
                                                                    <td colspan="5" class="text-right font-bold pr-6">Total Customers:
                                                                        {{total}}</td>
                                                                </tr>
                                                            </ng-template>  </p-table> -->

