
.areas-positions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
 
::ng-deep .center-btn {
    width: 30% !important;

}

.filters {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;


}
@media screen and (max-width: 400px) {
    .areas-positions {
            display: block;
          
            
        }
         ::ng-deep .center-btn {
            width: 100% !important;

        }

    
}



::ng-deep .p-fieldset .p-fieldset-content {
    padding: 0;
  
}

label{
    display: block;
}

::ng-deep .p-fieldset .p-fieldset-legend {
    padding: 1.25rem;
    border: 1px solid #dee2e600;
    color: #343a40ad;
    background: #f7f8f900;
    font-weight: 700;
    border-radius: 4px;
}






