<p-toast />
<p-confirmDialog />
<div class="card">
    <div
        class="font-semibold text-xl text-surface-900 dark:text-surface-0 mb-4"
    >
        Properties List
    </div>
    <p-table
        #dt1
        [value]="properties"
        dataKey="_id"
        [rows]="4"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[4, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
            'alias',
            'address',
            'phone',
            'phone2',
            'status',
            'country'
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt1, searchInput)"
                ></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        #searchInput
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search keyword"
                        class="p-inputtext p-component p-element"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <p-toast></p-toast>

            <tr>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">
                        Property Alias
                        <p-columnFilter
                            type="text"
                            field="alias"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">
                        Address
                        <p-columnFilter
                            type="text"
                            field="address"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">Phone number</div>
                    <p-columnFilter
                        type="text"
                        field="phone"
                        display="menu"
                    ></p-columnFilter>
                </th>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">Monthly payment</div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Billing date
                        <p-columnFilter
                            type="text"
                            field="paymentDate"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Country
                        <p-columnFilter
                            type="text"
                            field="country"
                            display="menu"
                        ></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Status
                        <p-columnFilter
                            field="status"
                            matchMode="equals"
                            display="menu"
                        >
                            <ng-template
                                pTemplate="filter"
                                let-value
                                let-filter="filterCallback"
                            >
                                <p-dropdown
                                    [ngModel]="value"
                                    [options]="statuses"
                                    (onChange)="filter($event.value)"
                                    placeholder="Any"
                                >
                                    <ng-template let-option pTemplate="item">
                                        <p-tag
                                            [value]="option.label"
                                            [severity]="
                                                _userService.getSeverity(
                                                    option.label
                                                )
                                            "
                                        ></p-tag>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th style="width: 3rem">
                    <div class="flex align-items-center">See more</div>
                </th>
                <th style="width: 3rem" *appHasPermissions="['admin']">
                    <div class="flex align-items-center">Delete</div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
            <tr>
                <td>
                    <img
                        [alt]="property.avatar"
                        [src]="url + 'avatarCondominios/' + property.avatar"
                        width="32"
                        style="vertical-align: middle"
                    />
                    <span class="ml-1 vertical-align-middle">
                        {{ property.alias | uppercase }}
                    </span>
                </td>
                <td>
                    {{ property.address }}
                </td>
                <td>
                    {{ property.phone }}
                </td>
                <td>
                    {{
                        property.mPayment
                            | currency : "USD" : "symbol" : "1.2-2"
                    }}
                </td>
                <td>
                    {{ property.paymentDate }}
                </td>
                <td>
                    <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        class="flag flag-do"
                        style="width: 20px"
                    />
                    <span class="ml-1 vertical-align-middle">{{
                        "Dominican Republic"
                    }}</span>
                </td>

                <td>
                    <p-tag
                        [value]="
                            property.status == 'active' ? 'Active' : 'Suspended'
                        "
                        [severity]="
                            property.status == 'active' ? 'success' : 'danger'
                        "
                    ></p-tag>
                </td>

                <td>
                    <button
                        *appHasPermissions="['owner']"
                        pButton
                        type="button"
                        [outlined]="true"
                        icon="pi pi-eye"
                        class="p-button-rounded hover:bg-blue-600 hover:border-blue-600 hover:text-white"
                        (click)="ownerDialogDetails()"
                    ></button>

                    <button
                        *appHasPermissions="['admin']"
                        pButton
                        type="button"
                        severity="secondary"
                        [outlined]="true"
                        icon="pi pi-eye"
                        class="p-button-rounded hover:bg-gray-600 hover:border-gray-600 hover:text-white"
                        (click)="goToDashboard(property)"
                    ></button>
                </td>
                <td *appHasPermissions="['admin']">
                    <buttonHas
                        pButton
                        type="button"
                        [severity]="_btnToggle(property.status).severity"
                        [outlined]="true"
                        [icon]="_btnToggle(property.status).icono"
                        [class]="_btnToggle(property.status).class"
                        (click)="deletePropertyFunc(property)"
                    ></buttonHas>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No propertys found.</td>
            </tr>
        </ng-template>
    </p-table>

    <!-- FOR OWNER ROLE -->
    <p-dialog
        header="Property details"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [maximizable]="true"
        (onHide)="onHide()"
    >
        <p-tabView>
            <p-tabPanel header="Authorized users">
                <app-family-member-details
                    *ngIf="visible"
                ></app-family-member-details>
            </p-tabPanel>
            <p-tabPanel header="Payments history">
                <app-payments-history
                    *ngIf="visible"
                    [ownerIdInput]="ownerIdInput"
                ></app-payments-history>
            </p-tabPanel>
            <!--     <p-tabPanel header="Bookings">
                <app-booking-area
                    [getIdCondo]="idOwner"
                    *ngIf="visible"
                ></app-booking-area>
            </p-tabPanel> -->
        </p-tabView>
    </p-dialog>
</div>
