<div class="card">
    <p-tabView
        #tabViewController
        [(activeIndex)]="activeIndex"
        (onChange)="onTabChange($event)"
    >
        <p-tabPanel header="Create authorized member">
            <app-family-member (msgEvent)="messageEvent()"></app-family-member>
        </p-tabPanel>
        <p-tabPanel header="See All Members">
            <app-family-member-details
                #familyMemberDetails
                (memberInfo)="memberInfoFromDetailsEvent($event)"
            ></app-family-member-details>
        </p-tabPanel>
        <p-tabPanel *ngIf="memberInfoFromDetails.show" header="Member Settings">
            <app-family-member
                *ngIf="memberInfoFromDetails.show"
                [memberInfoFromDetail]="memberInfoFromDetails"
                (msgEvent)="messageEvent()"
            ></app-family-member>
        </p-tabPanel>
    </p-tabView>
</div>
