<p-table #dt [value]="[propertyDetailsUser]" [rows]="10" [paginator]="true"
    [globalFilterFields]="['fullname',  'status']" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">

    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Manage Payments</h5>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>

            <th pSortableColumn="fullname" style="min-width:15rem">
                Fullname <p-sortIcon field="fullname" />
            </th>
            <th>
                Unit
            </th>
            <th>
                Phone number
            </th>
            <th>
                Monthly payment
            </th>
            <th>
                Contract start date
            </th>
            <th>
                Contract end date
            </th>
            <th>
                Payment method
            </th>
            <th>
                Emergency contact
            </th>
            <th>
                Is rent?
            </th>
            <th>
                Status <p-sortIcon field="status" />
            </th>
            <th>
                Actions
            </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-owner>
        <tr>

            <td>
                {{ owner.fullname}}
            </td>

            <td>
                {{ owner.units }}
            </td>
            <td>
                {{ owner.phone}}
            </td>
            <td>
                {{ owner.monthlyPayment}}
            </td>
            <td>
                {{ owner.contractStart}}
            </td>
            <td>
                {{ owner.contractEnd}}
            </td>
            <td>
                {{ owner.paymentMehtod}}
            </td>
            <td>
                {{ owner.emergecyPhoneNumber}}
            </td>
            <td>
                {{ owner.isRent}}
            </td>
            <td>
                <p-tag [value]="owner.status" [severity]="getSeverity(owner.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                    (onClick)="editProduct(owner)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (onClick)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{ products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table>

