<div class="card">
    <div class="flex items-center justify-between mb-4">
        <span
            class="font-semibold text-lg text-surface-900 dark:text-surface-0"
        >
            Payments History
        </span>
    </div>

    <div class="tbl-reservations">
        <p-table
            #dt
            [value]="propertyDetailsUser"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['alias', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="alias" style="min-width: 15rem">
                        Property name <p-sortIcon field="alias" />
                    </th>
                    <th>Unit</th>
                    <th>Phone number</th>
                    <th>Monthly payment</th>
                    <th>Issue date</th>
                    <th>Due date</th>
                    <th>Payment method</th>
                    <th>Status <p-sortIcon field="status" /></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-owner>
                <tr>
                    <td>
                        {{ owner.alias }}
                    </td>

                    <td>
                        {{ unitFormat(owner) }}
                    </td>
                    <td>
                        {{ owner.ownerId.phone }}
                    </td>
                    <td>
                        {{ owner.invoice_amount }}
                    </td>
                    <td>
                        {{ dateFormate(owner.invoice_issue) }}
                    </td>
                    <td>
                        {{ dateFormate(owner.invoice_due) }}
                    </td>
                    <td>
                        {{ owner.paymentMehtod }}
                    </td>

                    <td>
                        <p-tag
                            [value]="owner.invoice_status"
                            [severity]="getSeverity(owner.invoice_status)"
                        />
                    </td>
                    <td>
                        <p-button
                            icon="pi pi-pencil"
                            class="mr-2"
                            [rounded]="true"
                            [outlined]="true"
                            severity="success"
                            (onClick)="editProduct(owner)"
                        />
                        <p-button
                            *HasPermissionsDirective="'owner'"
                            icon="pi pi-trash"
                            severity="danger"
                            [rounded]="true"
                            [outlined]="true"
                            (onClick)="deleteProduct(product)"
                        />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are
                    {{ products ? products.length : 0 }} products.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>
