::ng-deep .justify-contents {
    display: flex;
    justify-content: center;
}

.avatarOwnerProfile {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: #dbdbdb solid 1px;
}

::ng-deep .p-dropdown {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.h-over {
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.h-over:hover {
    color: black;
    background-color: #dbdbdb;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
::ng-deep .p-tag {
    width: 100%;
}
