<p-confirmDialog />
<div class="card">
    <div class="flex items-center justify-between mb-4">
        <span
            class="font-semibold text-lg text-surface-900 dark:text-surface-0"
        >
            Properties Overview
        </span>
        <div class="flex items-center gap-2 ml-auto">
            <button
                pbutton=""
                pripple=""
                label="Add Property"
                icon="pi pi-plus-circle"
                class="p-ripple p-button p-component"
                (click)="showAvailableProperties = !showAvailableProperties"
            >
                <span
                    class="p-button-icon p-button-icon-left pi pi-plus-circle"
                    aria-hidden="true"
                ></span>
                <span
                    class="p-ink"
                    aria-hidden="true"
                    role="presentation"
                ></span>
                <span class="p-button-label">Add unit</span>
            </button>
        </div>
    </div>

    <div class="contenido-properties">
        <div *ngIf="showAvailableProperties" class="propertiesAvailable mb-4">
            <span
                class="font-semibold text-lg text-surface-900 dark:text-surface-0"
            >
                Units availables
            </span>

            <!-- *ngFor="let row of propertyData" -->
            <!-- Aqui va el for  *ngFor="let row of " *ngFor="let unitAvilable of propertyData"-->

            <div *ngFor="let items of availableUnitsList | ObjectValues">
                <div
                    class="border border-surface rounded-md h-[28rem]"
                    *ngFor="let item of items"
                >
                    <div
                        class="div-content border-b border-surface text-surface-700 dark:text-surface-100 cursor-pointer hover:text-color"
                    >
                        <div class="col">
                            <div class="flex items-center gap-4">
                                <p-avatar
                                    size="large"
                                    shape="circle"
                                    data-pc-name="avatar"
                                    class="p-avatar p-component p-avatar-circle p-avatar-lg p-avatar-image"
                                >
                                    <img
                                        [src]="
                                            url +
                                            'main-avatar/properties/noimage.jpeg'
                                        "
                                        class="ng-star-inserted"
                                    />
                                </p-avatar>
                                <div class="envoltorio">
                                    <span class="font-medium">{{
                                        item.alias
                                    }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="flex justify-between gap-4 flex-1">
                                <div
                                    class="envoltorio-z"
                                    style="flex-basis: 150%"
                                >
                                    <span class="font-medium">{{
                                        item.address | titlecase
                                    }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div
                                class="flex justify-between gap-8 flex-1"
                                style="overflow: visible"
                            >
                                <div
                                    class="envoltorio-z"
                                    style="flex-basis: 20%; overflow: visible"
                                >
                                    <span class="font-medium">
                                        <p-dropdown
                                            #pro_availables="ngModel"
                                            name="pro_availables"
                                            [options]="item.availableUnits"
                                            [(ngModel)]="propertiesSelected"
                                            optionLabel="label"
                                            placeholder="Unit"
                                            required
                                        />
                                    </span>
                                </div>
                                <div
                                    class="envoltorio-z"
                                    style="flex-basis: 20%; overflow: visible"
                                >
                                    <span class="font-medium">
                                        <p-dropdown
                                            #parking="ngModel"
                                            name="parking"
                                            [options]="parkingOptions"
                                            [(ngModel)]="parkingSelected"
                                            optionLabel="label"
                                            placeholder="Parking quantity"
                                            required
                                        />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="flex justify-end">
                                <button
                                    pButton
                                    [loading]="loading"
                                    type="button"
                                    severity="secondary"
                                    [outlined]="true"
                                    icon="pi pi-plus-circle"
                                    class="p-button-rounded hover:bg-green-600 hover:border-green-600 hover:text-white"
                                    (click)="
                                        addProperty(
                                            item,
                                            propertiesSelected,
                                            parkingSelected
                                        )
                                    "
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tbl-properties">
            <p-table
                [value]="propertiesOwner"
                [paginator]="true"
                [rows]="5"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%">#</th>
                        <th pSortableColumn="alias" style="width: 20%">
                            Property name <p-sortIcon field="alias" />
                        </th>
                        <th pSortableColumn="unit" style="width: 10%">
                            Unit <p-sortIcon field="unit" />
                        </th>
                        <th pSortableColumn="address" style="width: 30%">
                            Address <p-sortIcon field="address" />
                        </th>
                        <th pSortableColumn="parkingsQty">
                            Parking <p-sortIcon field="parkingsQty" />
                        </th>
                        <th
                            pSortableColumn="pending_balance"
                            style="width: 0.5%"
                        >
                            Pending Balance
                            <p-sortIcon field="pending_balance" />
                        </th>
                        <th pSortableColumn="status" style="width: 10%">
                            Status <p-sortIcon field="status" />
                        </th>
                        <th colspan="3" style="text-align: center">Actions</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-data let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ data.alias }}</td>
                        <td *ngIf="showUnits">
                            {{ data.units }}
                        </td>
                        <td style="width: 0.5%" *ngIf="unitAvilable.length > 1">
                            <p-dropdown
                                [ngClass]="{
                                    'ng-valid input-success':
                                        pro_availables.valid,
                                    'ng-invalid ng-dirty':
                                        pro_availables.touched &&
                                        !pro_availables.dirty
                                }"
                                #pro_availables="ngModel"
                                name="pro_availables"
                                [options]="unitAvilable"
                                [(ngModel)]="propertiesSelected"
                                optionLabel="label"
                                placeholder="Unit"
                                appendTo="body"
                            />
                        </td>
                        <td>{{ data.address | titlecase }}</td>
                        <td style="width: 0.5%">
                            {{ data.parkingsQty }}
                        </td>
                        <td style="width: 0.5%" *ngIf="unitAvilable.length > 1">
                            <p-dropdown
                                [ngClass]="{
                                    'ng-valid input-success': parking.valid,
                                    'ng-invalid ng-dirty':
                                        parking.touched && !parking.dirty
                                }"
                                #parking="ngModel"
                                name="parking"
                                [options]="parkingOptions"
                                [(ngModel)]="parkingSelected"
                                optionLabel="label"
                                placeholder="Parking quantity"
                                appendTo="body"
                            />
                        </td>
                        <td *ngIf="showUnits">{{ data.pending_balance }}</td>
                        <td>
                            <p-tag
                                [value]="data.status"
                                [severity]="getSeverity(data.status)"
                            />
                        </td>
                        <td>
                            <button
                                #btnEdit
                                pButton
                                type="button"
                                [severity]="editBtnStyle[i].severity"
                                [outlined]="true"
                                [icon]="editBtnStyle[i].icon"
                                [class]="editBtnStyle[i].class"
                                (click)="activarEditarUnit(i, data)"
                            ></button>
                        </td>
                        <td>
                            <button
                                pButton
                                type="button"
                                severity="secondary"
                                [outlined]="true"
                                icon="pi pi-trash"
                                class="p-button-rounded hover:bg-red-600 hover:border-red-600 hover:text-white"
                                (click)="
                                    deleteUnit(data.id, data.condominium_unit)
                                "
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
