<div class="grid">

      <p-card header="Success!" [style]="{'background-color': '#e4f8f0','color':'#1ea97c', 'border-left': '5px solid #1ea97c', 'box-shadow': 'none'}" *ngIf="status == 'success'" [innerHTML]>
            Property created successfully! <a routerLink="/see-property">Go to properties</a> or <a style="cursor:pointer;"
                (click)="reloadWindows()">Create another one</a>
        </p-card>
        HOLA
        <div class="col-12">
            <div class="card"  *ngIf="status != 'success'">
                
                <h5>Create property</h5>

                <form #condominiumForm="ngForm" (submit)="submit(condominiumForm)">

                <div class="p-fluid p-formgrid grid">

                    <div class="field col-12">
                    
                        <!-- <p-messages [(value)]="messages" *ngIf="status == 'true'" [enableService]="false" hideTransitionOptions="3000"></p-messages>
                     -->
                        <p-fileUpload mode="basic" 
                            chooseLabel="Choose image"           
                            name="demo[]"
                            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" 
                            maxlengthFileSize="1000000"
                            (onSelect)="onSelect($event)"></p-fileUpload>
                    
                        <div class="col-md-4 mt-3">
                    
                            <img [src]="image" alt="" width="181px" height="200px">
                    
                        </div>
                    
                                        
                    </div>


                    <div class="field col-12 md:col-6">
                        <label htmlFor="alias">Alias</label>
                        <input pInputText 
                        #alias="ngModel" 
                        [(ngModel)]="condominioModel.alias" 
                        name="alias" id="alias" type="text"  maxlength="50" />
                      
                    </div>

                    <div class="field col-12 md:col-6">
                        <label htmlFor="typeOfProperty">Property</label>
                        <p-dropdown 
                         
                        [options]="condoType"
                        optionLabel="property"
                        placeholder="Choose type of property"
                        #typeOfProperty="ngModel"  
                        [(ngModel)]="this.condominioModel.typeOfProperty"
                        name="typeOfProperty">
                    
                        </p-dropdown>

                    </div>
                 
                    <div class="field col-12 md:col-6">
                        <label htmlFor="phone">Phone</label>
                        <input pInputText 
                        #phone="ngModel" 
                        [(ngModel)]="condominioModel.phone" 
                        name="phone" id="phone"  type="text" maxlength="11" pattern="^[0-9]+"   />
                     
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="phone2">Phone 2</label>
                        <input pInputText 
                        #phone2="ngModel" 
                        [(ngModel)]="condominioModel.phone2" 
                        name="phone2" id="phone2" type="text" pattern="^[0-9]+" maxlength="11" pattern="^[0-9]+"/>
                    </div>

                    <div class="field col-12">
                        <label htmlFor="street_1">Address</label>
                        <input  pInputText id="street_1" 
                        #street_1="ngModel" 
                        [(ngModel)]="condominioModel.street_1" 
                        name="street_1"    maxlength="100"  />
                      
                    </div>
                    <div class="field col-12">
                        <label htmlFor="street_2">Address 2 (Unit, Apt, House)</label>
                        <input pInputText 
                        id="street_2" 
                        #street_2="ngModel" 
                        [(ngModel)]="condominioModel.street_2" 
                        name="street_2"  maxlength="50"  />
                    </div>

                    <div class="field col-12">
                        <label htmlFor="sector_name">Sector</label>
                        <input pInputText id="sector_name" 
                        #sector_name="ngModel" 
                        [(ngModel)]="condominioModel.sector_name" 
                        name="sector_name"  
                         maxlength="50"  />
                      
                    </div>
                    <div class="field col-12">
                        <label htmlFor="city">City</label>
                        <input pInputText 
                        id="city" 
                        #city="ngModel" 
                        [(ngModel)]="condominioModel.city" 
                        name="city"  
                         maxlength="50" />
                    </div>
                    <div class="field col-12">
                        <label htmlFor="province">Province</label>
                        <input pInputText id="province" 
                        #province="ngModel" 
                        [(ngModel)]="condominioModel.province" 
                        name="province" maxlength="50" />
                      
                    </div>
                    <div class="field col-12">
                        <label htmlFor="zipcode">Zip code</label>
                        <input pInputText 
                        id="zipcode" 
                        #zipcode="ngModel" 
                        [(ngModel)]="condominioModel.zipcode" 
                        name="zipcode"  
                          maxlength="9"/>                     
                    </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="country">Country</label>
                    
                    <p-dropdown [options]="countrySelector"                    
                        optionLabel="country" 
                        #country="ngModel" 
                        name="country" 
                        [(ngModel)]="condominioModel.country" 
                        ></p-dropdown>
                </div>
                <div class="field col-6 md:col-4">
                    
                    <label htmlFor="socialAreas">Social areas</label>
                    <p-multiSelect 
                    
                    [options]="areas" 
                    optionLabel="areasOptions" 
                    #socialAreas="ngModel"
                    [(ngModel)]="this.condominioModel.socialAreas" 
                    name="socialAreas"
                    ></p-multiSelect>
                    
                </div> 
                
                    <div class="field col-4">
                        <label htmlFor="mPayment">Monthly payment</label>
                        <input pInputText id="mPayment" #mPayment="ngModel" [(ngModel)]="condominioModel.mPayment" name="mPayment" 
                            maxlength="6" />
                    </div>
                                    
                </div>
                <div style="float: end;">
                <button [disabled]="!condominiumForm.valid" pButton pRipple label="Create" class="p-button-success"></button>
                </div>
                </form>
            </div>

          
        </div>

     
    
</div>