<p-card
    header="Success!"
    [style]="{
        'background-color': '#e4f8f0',
        color: '#1ea97c',
        'border-left': '5px solid #1ea97c',
        'box-shadow': 'none'
    }"
    *ngIf="status == 'success'"
    [innerHTML]
>
    Property created successfully!
    <a routerLink="/see-property">Go to properties</a> or
    <a style="cursor: pointer" (click)="reloadWindows()">Create another one</a>
</p-card>
<form
    *ngIf="status != 'success'"
    #condominiumForm="ngForm"
    (ngSubmit)="submit(condominiumForm)"
>
    <div class="card flex justify-content-center">
        <p-stepper>
            <p-stepperPanel header="Basic Info">
                <ng-template
                    pTemplate="content"
                    let-nextCallback="nextCallback"
                    let-index="index"
                >
                    <div class="flex flex-column">
                        <div
                            class="border-2 border-dashed surface-border border-round surface-ground justify-content-center font-medium"
                        >
                            <div class="d-block" style="padding: 12px">
                                <div class="custom-file-upload">
                                    <img
                                        [src]="image"
                                        (click)="triggerFileUpload()"
                                        alt="Upload Image"
                                        class="upload-img"
                                    />

                                    <p-fileUpload
                                        #fileInput
                                        name="demo[]"
                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                        maxlengthFileSize="1000000"
                                        accept="image/*"
                                        (onSelect)="onSelect($event)"
                                        [customUpload]="true"
                                        [auto]="true"
                                        mode="basic"
                                        hidden="true"
                                    >
                                    </p-fileUpload>
                                </div>

                                <div class="addressProperty">
                                    <label htmlFor="aliaslabel"
                                        >Property name</label
                                    >
                                    <input
                                        [ngClass]="{
                                            'input-error':
                                                alias.invalid &&
                                                (alias.dirty || alias.touched)
                                        }"
                                        pInputText
                                        #alias="ngModel"
                                        [(ngModel)]="condominioModel.alias"
                                        name="alias"
                                        id="aliaslabel"
                                        type="text"
                                        maxlength="50"
                                        required
                                    />
                                </div>

                                <div class="addressProperty">
                                    <label for="typeOfPropertylabel">
                                        Property type
                                    </label>
                                    <p-dropdown
                                        [options]="condoType"
                                        id="typeOfPropertylabel"
                                        optionLabel="property"
                                        placeholder="Choose type of property"
                                        [ngClass]="{
                                            'input-error-dropdown':
                                                typeOfProperty.invalid &&
                                                (typeOfProperty.dirty ||
                                                    typeOfProperty.touched)
                                        }"
                                        #typeOfProperty="ngModel"
                                        [(ngModel)]="
                                            this.condominioModel.typeOfProperty
                                        "
                                        name="typeOfProperty"
                                        required
                                    >
                                    </p-dropdown>
                                </div>

                                <div class="addressProperty">
                                    <label htmlFor="phone">Phone</label>
                                    <input
                                        [ngClass]="{
                                            'input-error':
                                                phone.invalid &&
                                                (phone.dirty || phone.touched)
                                        }"
                                        pInputText
                                        #phone="ngModel"
                                        [(ngModel)]="condominioModel.phone"
                                        name="phone"
                                        id="phone"
                                        type="text"
                                        maxlength="11"
                                        pattern="^[0-9]+"
                                        placeholder="8095882222"
                                        required
                                    />
                                </div>
                                <div class="addressProperty">
                                    <label htmlFor="phone2">Phone 2</label>
                                    <input
                                        pInputText
                                        #phone2="ngModel"
                                        [(ngModel)]="condominioModel.phone2"
                                        name="phone2"
                                        id="phone2"
                                        type="text"
                                        pattern="^[0-9]+"
                                        maxlength="11"
                                        pattern="^[0-9]+"
                                        placeholder="8095882222"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-end">
                            <p-button
                                label="Next"
                                icon="pi pi-arrow-right"
                                iconPos="right"
                                (click)="nextCallback.emit()"
                                [disabled]="!alias.valid || !phone.valid"
                            />
                        </div>
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Address details">
                <ng-template
                    pTemplate="content"
                    let-prevCallback="prevCallback"
                    let-nextCallback="nextCallback"
                    let-index="index"
                >
                    <div class="flex flex-column">
                        <div
                            class="border-2 border-dashed surface-border border-round surface-ground justify-content-center align-items-center font-medium"
                        >
                            <div class="d-block">
                                <div class="addressProperty">
                                    <label for="street_1label">Address</label>
                                    <input
                                        [ngClass]="{
                                            'input-error':
                                                street_1.invalid &&
                                                (street_1.dirty ||
                                                    street_1.touched)
                                        }"
                                        pInputText
                                        id="street_1label"
                                        #street_1="ngModel"
                                        [(ngModel)]="condominioModel.street_1"
                                        name="street_1"
                                        maxlength="100"
                                        required
                                    />
                                </div>

                                <div class="addressProperty">
                                    <label for="street_2label"
                                        >Address 2 (Unit, Apt, House)</label
                                    >

                                    <input
                                        pInputText
                                        id="street_2label"
                                        #street_2="ngModel"
                                        [(ngModel)]="condominioModel.street_2"
                                        name="street_2"
                                        maxlength="50"
                                    />
                                </div>

                                <div class="addressProperty">
                                    <label for="sector_namelabel">Sector</label>

                                    <input
                                        [ngClass]="{
                                            'input-error':
                                                sector_name.invalid &&
                                                (sector_name.dirty ||
                                                    sector_name.touched)
                                        }"
                                        pInputText
                                        id="sector_namelabel"
                                        #sector_name="ngModel"
                                        [(ngModel)]="
                                            condominioModel.sector_name
                                        "
                                        name="sector_name"
                                        maxlength="50"
                                        required
                                    />
                                </div>

                                <div class="addressProperty">
                                    <label for="citylabel">City</label>

                                    <input
                                        [ngClass]="{
                                            'input-error':
                                                city.invalid &&
                                                (city.dirty || city.touched)
                                        }"
                                        pInputText
                                        id="citylabel"
                                        #city="ngModel"
                                        [(ngModel)]="condominioModel.city"
                                        name="city"
                                        maxlength="50"
                                        required
                                    />
                                </div>

                                <div class="addressProperty">
                                    <label for="provincelabel">Province</label>

                                    <input
                                        [ngClass]="{
                                            'input-error':
                                                province.invalid &&
                                                (province.dirty ||
                                                    province.touched)
                                        }"
                                        pInputText
                                        id="provincelabel"
                                        #province="ngModel"
                                        [(ngModel)]="condominioModel.province"
                                        name="province"
                                        maxlength="50"
                                    />
                                </div>

                                <!-- <div class="addressProperty">
    <label for="zipcodelabel" class="addressProperty">Zip code</label>
    
        <input pInputText id="zipcodelabel" #zipcode="ngModel" [(ngModel)]="condominioModel.zipcode" name="zipcode"
            maxlength="9" />

</div> -->
                                <div class="addressProperty">
                                    <label for="countrylabel"> Country </label>

                                    <input
                                        pInputText
                                        id="countrylabel"
                                        #country="ngModel"
                                        name="country"
                                        [(ngModel)]="condominioModel.country"
                                        maxlength="9"
                                        readonly
                                    />
                                </div>
                            </div>

                            <div class="d-block"></div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button
                                label="Back"
                                icon="pi pi-arrow-left"
                                (onClick)="prevCallback.emit()"
                            />
                            <p-button
                                label="Next"
                                icon="pi pi-arrow-right"
                                iconPos="right"
                                (onClick)="nextCallback.emit()"
                                [disabled]="
                                    !street_1.valid ||
                                    !sector_name.valid ||
                                    !city.valid ||
                                    !province.valid
                                "
                            />
                        </div>
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Property details">
                <ng-template
                    pTemplate="content"
                    let-prevCallback="prevCallback"
                    let-index="index"
                >
                    <div class="flex flex-column">
                        <div
                            class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
                        >
                            <div class="prop-details">
                                <div class="addressProperty">
                                    <label for="socialAreaslabel">
                                        Social areas
                                    </label>
                                    <p-multiSelect
                                        class="addr-margin"
                                        id="socialAreaslabel"
                                        [options]="areas"
                                        optionLabel="areasOptions"
                                        #socialAreas="ngModel"
                                        name="socialAreas"
                                        [(ngModel)]="
                                            this.condominioModel.socialAreas
                                        "
                                    />
                                </div>

                                <div class="addressProperty">
                                    <label htmlFor="mPayment">
                                        Monthly payment (per unit)
                                    </label>
                                    <input
                                        pInputText
                                        [ngClass]="{
                                            'input-error':
                                                mPayment.invalid &&
                                                (mPayment.dirty ||
                                                    mPayment.touched)
                                        }"
                                        id="mPayment"
                                        #mPayment="ngModel"
                                        [(ngModel)]="condominioModel.mPayment"
                                        name="mPayment"
                                        maxlength="6"
                                        required
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="flex pt-4 justify-content-between">
                            <p-button
                                label="Back"
                                icon="pi pi-arrow-left"
                                (onClick)="prevCallback.emit()"
                            />
                            <button
                                [disabled]="!condominiumForm.valid"
                                pButton
                                pRipple
                                label="Create"
                                class="p-button-success"
                            ></button>
                        </div>
                    </div>
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
    </div>
</form>
