<p-toast />
<p-confirmDialog />
<span *ngIf="nodata" style="font-family: 'Courier New', Courier, monospace"
    >No data found</span
>

<!-- <p-toast />
<p-confirmDialog /> -->
<p-table
    *ngIf="!nodata"
    [value]="data"
    dataKey="_id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
>
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center gap-2">
            <div class="justify-content-start">
                <h4>Authorized's members</h4>
            </div>

            <div class="justify-content-end">
                <p-button
                    label="Expand All"
                    icon="pi pi-plus"
                    text
                    (onClick)="expandAll()"
                />
                <p-button
                    label="Collapse All"
                    icon="pi pi-minus"
                    text
                    (onClick)="collapseAll()"
                />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <th style="width: 5rem">Picture</th>
            <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
            <th>Lastname <p-sortIcon field="lastname" /></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>
            <th>Phone</th>
            <th>Member Since</th>
            <th>Status</th>
            <th>Settings</th>
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-property
        let-expanded="expanded"
        let-rowIndex="rowIndex"
    >
        <tr>
            <td>
                <p-button
                    type="button"
                    pRipple
                    [pRowToggler]="property"
                    [text]="true"
                    [rounded]="true"
                    [plain]="true"
                    [icon]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "
                />
            </td>

            <td>
                <img
                    src="{{ url + 'main-avatar/families/' + property.avatar }}"
                    [alt]="property.name"
                    width="50"
                    height="50"
                    class="shadow-4 border-circle"
                />
            </td>
            <td>{{ property.name }}</td>
            <td>{{ property.lastname }}</td>
            <td>{{ property.email }}</td>
            <td>{{ property.phone }}</td>
            <td>{{ getMemberSince(property.createdAt) }}</td>
            <td>
                <p-tag
                    [value]="property.status"
                    [severity]="getSeverity(property.status)"
                />
            </td>
            <td>
                <button
                    (click)="settingsMember(property)"
                    class="p-panel-header-icon p-link mr-2"
                >
                    <span class="pi pi-cog"></span>
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-property_info>
        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table
                        [value]="property_info.propertyDetails"
                        dataKey="property_info.propertyDetails.addressId._id"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="alias">
                                    Residence <p-sortIcon field="alias" />
                                </th>
                                <th pSortableColumn="address">
                                    Address <p-sortIcon field="address" />
                                </th>
                                <th pSortableColumn="unit">
                                    Unit <p-sortIcon field="unit" />
                                </th>
                                <th pSortableColumn="family_status">
                                    Authorization
                                    <p-sortIcon field="family_status" />
                                </th>
                                <th *appHasPermissions="'owner'">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-info>
                            <tr>
                                <td>
                                    {{ info.addressId.alias | uppercase }}
                                </td>
                                <td>{{ getAddres(info) | uppercase }}</td>
                                <td>{{ info.unit | uppercase }}</td>
                                <td>
                                    <p-tag
                                        [value]="info.family_status"
                                        [severity]="
                                            getSeverity(info.family_status)
                                        "
                                    />
                                </td>

                                <td *appHasPermissions="'owner'">
                                    <p-button
                                        type="button"
                                        [severity]="
                                            getSeverityl(info.family_status)
                                        "
                                        (click)="authSetting(property_info)"
                                        [label]="
                                            info.family_status === 'authorized'
                                                ? 'Unauthorize'
                                                : 'Authorize'
                                        "
                                    />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">
                                    There are no properties for this user.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
