<p-confirmDialog />
<form #unitFormUno="ngForm">
    <p-messages
        *ngIf="apiUnitResponse"
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"
        [enableService]="apiUnitResponse"
        [(value)]="messageApiResponse"
    />
    <button
        pButton
        label="¿Create another user?"
        (click)="resetStepper()"
        *ngIf="apiUnitResponse"
    ></button>

    <div class="flex justify-content-center mt-4" *ngIf="!apiUnitResponse">
        <p-stepper
            [activeStep]="indexStepper"
            (activeStepChange)="onStepChange($event)"
            [linear]="true"
            #stepperOw
        >
            <p-stepperPanel header="Basic Info">
                <ng-template
                    pTemplate="content"
                    let-nextCallback="nextCallback"
                    let-index="index"
                >
                    <!-- Existing client -->
                    <p-accordion [activeIndex]="-1" class="mb-4">
                        <p-accordionTab header="¿Existing user?">
                            <div
                                class="form-group flex align-items-center gap-2"
                            >
                                <input
                                    pInputText
                                    type="text"
                                    placeholder="Enter user ID or email"
                                    [(ngModel)]="searchUserValue"
                                    name="searchUserValue"
                                />
                                <button
                                    pButton
                                    type="button"
                                    label="Buscar"
                                    icon="pi pi-search"
                                    (click)="searchExistingUser()"
                                ></button>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                    <!-- [END] - Existing client -->
                    <div
                        class="padding-set border-2 border-dashed surface-border border-round surface-ground justify-content-center font-medium"
                    >
                        <div class="form-group mt-3">
                            <p style="text-align: center">
                                <img [src]="image" alt="" class="upload-img" />

                                <p-fileUpload
                                    mode="basic"
                                    chooseLabel="Choose image"
                                    name="demo[]"
                                    url="https://www.primefaces.org/cdn/api/upload.php"
                                    accept="image/*"
                                    maxlengthFileSize="1000000"
                                    (onSelect)="onSelect($event)"
                                >
                                </p-fileUpload>
                            </p>
                        </div>

                        <div class="form-group mt-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-user"></i>
                                </p-inputGroupAddon>

                                <input
                                    pInputText
                                    [ngClass]="{
                                        'input-success': ownerName.valid,
                                        'input-error ':
                                            ownerName.touched &&
                                            !ownerName.dirty
                                    }"
                                    #ownerName="ngModel"
                                    [(ngModel)]="ownerObj.name"
                                    name="ownerName"
                                    type="text"
                                    maxlength="30"
                                    required
                                    placeholder="Name: Jose Rodolfo"
                                />
                            </p-inputGroup>

                            <small
                                *ngIf="ownerName.touched && !ownerName.valid"
                                class="p-error"
                                >Required.</small
                            >
                        </div>

                        <div class="form-group mt-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-user"></i>
                                </p-inputGroupAddon>

                                <input
                                    pInputText
                                    [ngClass]="{
                                        'input-success': lastname.valid,
                                        'input-error ':
                                            lastname.touched && !lastname.dirty
                                    }"
                                    #lastname="ngModel"
                                    [(ngModel)]="ownerObj.lastname"
                                    name="lastname"
                                    type="text"
                                    maxlength="30"
                                    required
                                    placeholder="Name: Rodney Mock"
                                />
                            </p-inputGroup>

                            <small
                                *ngIf="lastname.touched && !lastname.valid"
                                class="p-error"
                                >Required.</small
                            >
                        </div>

                        <div class="form-group mt-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-android"></i>
                                </p-inputGroupAddon>
                                <p-dropdown
                                    [ngClass]="{
                                        'ng-valid input-success': gender.valid,
                                        'ng-invalid ng-dirty':
                                            gender.touched && !gender.dirty
                                    }"
                                    #gender="ngModel"
                                    name="gender"
                                    [options]="genderOption"
                                    [(ngModel)]="ownerObj.gender"
                                    optionLabel="label"
                                    placeholder="Select gender..."
                                    required
                                />
                            </p-inputGroup>
                        </div>

                        <div class="form-group mt-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-mobile"></i>
                                </p-inputGroupAddon>

                                <input
                                    pInputText
                                    [ngClass]="{
                                        'input-success': phone.valid,
                                        'input-error ':
                                            phone.touched && !phone.dirty
                                    }"
                                    #phone="ngModel"
                                    [(ngModel)]="ownerObj.phone"
                                    name="phone"
                                    type="text"
                                    maxlength="11"
                                    required
                                    placeholder="8496587417"
                                    pattern="^[0-9]+"
                                />
                            </p-inputGroup>

                            <small
                                *ngIf="phone.touched && !phone.valid"
                                class="p-error"
                                >Required.</small
                            >
                        </div>

                        <div class="form-group mt-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-check-circle"></i>
                                </p-inputGroupAddon>

                                <input
                                    pInputText
                                    #id_number="ngModel"
                                    name="id_number"
                                    [(ngModel)]="ownerObj.id_number"
                                    [ngClass]="{
                                        'input-success': id_number.valid,
                                        'input-error ':
                                            id_number.touched &&
                                            !id_number.dirty
                                    }"
                                    type="text"
                                    placeholder="Personal id (No dashes)"
                                    maxlength="11"
                                    pattern="^[0-9]+"
                                    required
                                />
                            </p-inputGroup>
                        </div>

                        <div class="form-group mt-3 marginclass">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-envelope"></i>
                                </p-inputGroupAddon>

                                <input
                                    pInputText
                                    #email="ngModel"
                                    name="email"
                                    [(ngModel)]="ownerObj.email"
                                    [ngClass]="{
                                        'input-success': email.valid,
                                        'input-error ':
                                            email.touched && !email.dirty
                                    }"
                                    type="text"
                                    maxlength="50"
                                    pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}"
                                    placeholder="correo@email.com"
                                    required
                                />
                            </p-inputGroup>
                            <small
                                *ngIf="email.touched && !email.valid"
                                class="p-error"
                                >Required.</small
                            >
                        </div>
                    </div>

                    <div class="flex pt-4 justify-content-end">
                        <p-button
                            label="Next"
                            icon="pi pi-arrow-right"
                            iconPos="right"
                            (onClick)="nextCallback.emit()"
                            [disabled]="
                                !email.valid ||
                                !ownerName.valid ||
                                !phone.valid ||
                                !lastname.valid ||
                                !gender.valid ||
                                !id_number.valid
                            "
                        />
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Property details">
                <ng-template
                    pTemplate="content"
                    let-prevCallback="prevCallback"
                    let-nextCallback="nextCallback"
                    let-index="index"
                >
                    <div
                        class="padding-set border-2 border-dashed surface-border border-round surface-ground justify-content-center font-medium"
                    >
                        <div class="form-group mb-3" *ngIf="!homeId">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-building"></i>
                                </p-inputGroupAddon>

                                <p-dropdown
                                    [ngClass]="{
                                        'input-success':
                                            propertiesAvailable.valid,
                                        'input-error ':
                                            propertiesAvailable.touched &&
                                            !propertiesAvailable.dirty
                                    }"
                                    #propertiesAvailable="ngModel"
                                    [(ngModel)]="ownerObj.addressId"
                                    name="propertiesAvailable"
                                    [options]="propertiesOptions"
                                    optionLabel="label"
                                    placeholder="Choose properties..."
                                    (onChange)="onPropertiesChange($event)"
                                    required
                                />
                            </p-inputGroup>
                            <small
                                *ngIf="
                                    propertiesAvailable.touched &&
                                    !propertiesAvailable.valid
                                "
                                id="propertiesAvailable-label"
                                class="p-error"
                                >Required.</small
                            >
                        </div>
                        <div class="form-group mb-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-home"></i>
                                </p-inputGroupAddon>

                                <p-dropdown
                                    [ngClass]="{
                                        'input-success': apartmentsUnit.valid,
                                        'input-error ':
                                            apartmentsUnit.touched &&
                                            !apartmentsUnit.dirty
                                    }"
                                    #apartmentsUnit="ngModel"
                                    [(ngModel)]="ownerObj.apartmentsUnit"
                                    name="apartmentsUnit"
                                    [options]="unitOptions"
                                    optionLabel="label"
                                    placeholder="Choose available unit..."
                                    required
                                />
                            </p-inputGroup>
                            <small
                                *ngIf="
                                    apartmentsUnit.touched &&
                                    !apartmentsUnit.valid
                                "
                                id="apartmentsUnit-label"
                                class="p-error"
                                >Required.</small
                            >
                        </div>

                        <div class="form-group mb-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-hourglass"></i>
                                </p-inputGroupAddon>

                                <p-dropdown
                                    [ngClass]="{
                                        'ng-valid input-success': isRent.valid,
                                        'ng-invalid ng-dirty':
                                            isRent.touched && !isRent.dirty
                                    }"
                                    name="isRent"
                                    #isRent="ngModel"
                                    [(ngModel)]="ownerObj.isRenting"
                                    [options]="isRentOptions"
                                    optionLabel="label"
                                    placeholder="Is rent?"
                                    required
                                />
                            </p-inputGroup>
                        </div>

                        <div class="form-group mb-3">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-car"></i>
                                </p-inputGroupAddon>

                                <p-inputNumber
                                    [ngClass]="{
                                        'ng-valid input-success': parking.valid,
                                        'ng-invalid ng-dirty':
                                            parking.touched && !parking.dirty
                                    }"
                                    name="parking"
                                    #parking="ngModel"
                                    [(ngModel)]="ownerObj.parkingsQty"
                                    placeholder="Parking units..."
                                    required
                                    inputId="integeronly"
                                    [(ngModel)]="value1"
                                />
                            </p-inputGroup>
                        </div>
                    </div>

                    <div class="flex pt-4 justify-content-between">
                        <p-button
                            label="Back"
                            icon="pi pi-arrow-left"
                            (onClick)="prevCallback.emit()"
                        />

                        <p-button
                            label="Next"
                            icon="pi pi-arrow-right"
                            iconPos="right"
                            [disabled]="
                                !apartmentsUnit.valid ||
                                !isRent.valid ||
                                !parking.valid
                            "
                            (onClick)="reviewOwnerCard(nextCallback)"
                        />
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Review">
                <ng-template
                    pTemplate="content"
                    let-prevCallback="prevCallback"
                    let-index="index"
                >
                    <p-card header="Info confirmation:">
                        <p class="m-0">
                            <b>Name:</b> {{ ownerObj.name }}
                            <br />
                            <b>Lastname:</b> {{ ownerObj.lastname }}
                            <br />
                            <b>Gender:</b> {{ ownerObj.gender.label }}
                            <br />
                            <b>Email:</b> {{ ownerObj.email }}
                            <br />
                            <b>Phone:</b> {{ ownerObj.phone }}
                            <br />
                            <b>Phone 2:</b> {{ ownerObj.phone2 }}
                            <br />
                            <b>Unit:</b> {{ ownerObj.apartmentsUnit.label }}
                            <br />
                            <b>Parking units:</b>
                            {{ ownerObj.parkingsQty.label }}
                            <br />
                            <b>Is rent?:</b> {{ ownerObj.isRenting.label }}
                            <br />
                        </p>
                        <h4>Address detail:</h4>
                        <p class="m-0">
                            <b>Street:</b> {{ addreesDetails?.street_1 }}
                            <br />
                            <b>Street 2:</b> {{ addreesDetails?.street_2 }}
                            <br />
                            <b>Neigborhood name:</b>
                            {{ addreesDetails?.sector_name }}
                            <br />
                            <b>City:</b> {{ addreesDetails?.city }}
                            <br />
                            <b>Province:</b> {{ addreesDetails?.province }}
                            <br />
                            <b>Country:</b> {{ addreesDetails?.country }}

                            <br />
                        </p>
                    </p-card>

                    <div class="d-flex gap-1">
                        <div class="flex pt-4 justify-content-between">
                            <p-button
                                label="Back"
                                icon="pi pi-arrow-left"
                                (onClick)="prevCallback.emit()"
                            />

                            <p-button
                                label="Create"
                                (onClick)="confirmNewOwner($event)"
                                [raised]="true"
                                severity="success"
                            />
                        </div>
                    </div>
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
    </div>
</form>
