.customer-badge,
.product-badge,
.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.product-badge {
    &.status-instock {
        background: var(--app-dark-success-bg, #C8E6C9);
        color: var(--app-dark-success-text, #256029);
    }

    &.status-outofstock {
        background: var(--app-dark-danger-bg, #FFCDD2);
        color: var(--app-dark-danger-text, #C63737);
    }

    &.status-lowstock {
        background: var(--app-dark-warning-bg, #FEEDAF);
        color: var(--app-dark-danger-text, #8A5340);
    }
}

.customer-badge {
    &.status-qualified {
        background: var(--app-dark-success-bg, #C8E6C9);
        color: var(--app-dark-success-text, #256029);
    }

    &.status-unqualified {
        background: var(--app-dark-danger-bg, #FFCDD2);
        color: var(--app-dark-danger-text, #C63737);
    }

    &.status-negotiation {
        background: var(--app-dark-warning-bg, #FEEDAF);
        color: var(--app-dark-danger-text, #8A5340);
    }

    &.status-new {
        background: var(--app-dark-info-bg, #B3E5FC);
        color: var(--app-dark-accent, #23547B);
    }

    &.status-renewal {
        background: var(--app-dark-purple-bg, #ECCFFF);
        color: var(--app-dark-muted, #694382);
    }

    &.status-proposal {
        background: var(--app-dark-warning-bg, #FFD8B2);
        color: var(--app-dark-warning-text, #805B36);
    }
}

.order-badge {
    &.order-delivered {
        background: var(--app-dark-success-bg, #C8E6C9);
        color: var(--app-dark-success-text, #256029);
    }

    &.order-cancelled {
        background: var(--app-dark-danger-bg, #FFCDD2);
        color: var(--app-dark-danger-text, #C63737);
    }

    &.order-pending {
        background: var(--app-dark-warning-bg, #FEEDAF);
        color: var(--app-dark-danger-text, #8A5340);
    }

    &.order-returned {
        background: var(--app-dark-purple-bg, #ECCFFF);
        color: var(--app-dark-muted, #694382);
    }
}
